In [1]:
import pandas as pd
import numpy as np
import os

from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = 'source/Table5_Data.csv'

In [3]:
data = pd.read_csv(source)

In [4]:
data

,DONOR,Donor,SECTOR,Sector,AIDTYPE,Aid type,AMOUNTTYPE,Amount type,TIME,Year,Value,Flags
0,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1971,1971,2.94,NaN
1,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1972,1972,4.25,NaN
2,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1973,1973,1.60,NaN
3,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1974,1974,1.98,NaN
4,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1975,1975,2.78,NaN
5,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1976,1976,0.65,NaN
6,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1977,1977,15.85,NaN
7,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1978,1978,18.50,NaN
8,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1979,1979,18.81,NaN
9,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1980,1980,20.33,NaN
10,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1981,1981,31.11,NaN
11,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1982,1982,5.04,NaN
12,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1983,1983,55.20,NaN
13,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1984,1984,22.50,NaN
14,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1985,1985,26.08,NaN
15,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1986,1986,42.51,NaN
16,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1987,1987,49.69,NaN
17,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1988,1988,77.14,NaN
18,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1989,1989,113.68,NaN
19,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1990,1990,144.92,NaN
20,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1991,1991,141.82,NaN
21,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1992,1992,137.20,NaN
22,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1993,1993,167.31,NaN
23,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1994,1994,133.42,NaN
24,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1995,1995,169.20,NaN
25,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1996,1996,171.60,NaN
26,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1997,1997,180.58,NaN
27,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1998,1998,218.19,NaN
28,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),1999,1999,287.79,NaN
29,1,Austria,100,I. Social Infrastructure & Services,528,Total ODA,A,Current Prices (USD millions),2000,2000,151.34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
210844,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1985,1985,13602.67,NaN
210845,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1986,1986,12911.87,NaN
210846,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1987,1987,21008.60,NaN
210847,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1988,1988,15237.97,NaN
210848,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1989,1989,16552.78,NaN
210849,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1990,1990,14478.81,NaN
210850,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1991,1991,9817.26,NaN
210851,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1992,1992,16233.46,NaN
210852,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1993,1993,11284.92,NaN
210853,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1994,1994,19604.52,NaN
210854,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1995,1995,17329.42,NaN
210855,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1996,1996,5269.96,NaN
210856,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1997,1997,2544.97,NaN
210857,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1998,1998,2351.26,NaN
210858,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1999,1999,1966.80,NaN
210859,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2000,2000,1180.38,NaN
210860,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2001,2001,5395.08,NaN
210861,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2002,2002,1415.09,NaN
210862,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2003,2003,3050.12,NaN
210863,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2004,2004,1673.01,NaN
210864,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2005,2005,2053.53,NaN
210865,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2006,2006,1532.38,NaN
210866,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2007,2007,5540.74,NaN
210867,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2008,2008,5026.14,NaN
210868,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2009,2009,3744.95,NaN
210869,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2010,2010,2612.06,NaN
210870,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2011,2011,11575.56,NaN
210871,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2012,2012,6157.07,NaN
210872,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2013,2013,5205.83,NaN
210873,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2014,2014,5376.99,NaN

In [11]:
data[['SECTOR', 'Sector']].drop_duplicates()

      SECTOR                                             Sector
0        100                I. Social Infrastructure & Services
44       110                                     I.1. Education
88       111                I.1.a. Education, Level Unspecified
108      112                             I.1.b. Basic Education
128      113                         I.1.c. Secondary Education
148      114                    I.1.d. Post-Secondary Education
168      120                                        I.2. Health
210      121                             I.2.a. Health, General
230      122                                I.2.b. Basic Health
250      130  I.3. Population Pol./Progr. & Reproductive Health
271      140                     I.4. Water Supply & Sanitation
310      150                    I.5. Government & Civil Society
347      151          I.5.a. Government & Civil Society-general
357      152                  I.5.b. Conflict, Peace & Security
367      160        I.6. Other Social Infrastructure & Services
402      200             II. Economic Infrastructure & Services
446      210                          II.1. Transport & Storage
485      220                               II.2. Communications
514      230                                       II.3. Energy
556      240                 II.4. Banking & Financial Services
579      250                    II.5. Business & Other Services
608      300                            III. Production Sectors
655      310              III.1. Agriculture, Forestry, Fishing
700      311                               III.1.a. Agriculture
720      312                                  III.1.b. Forestry
739      313                                   III.1.c. Fishing
745      320              III.2. Industry, Mining, Construction
791      321                                  III.2.a. Industry
822      322                III.2.b. Mineral Resources & Mining
835      323                              III.2.c. Construction
852      331              III.3.a. Trade Policies & Regulations
878      332                                   III.3.b. Tourism
906      400                   IV. Multi-Sector / Cross-Cutting
935      410               IV.1. General Environment Protection
955      430                            IV.2. Other Multisector
975      450            V. Total Sector Allocable (I+II+III+IV)
1022     500             VI. Commodity Aid / General Prog. Ass.
1057     510                       VI.1. General Budget Support
1065     520             VI.2. Dev. Food Aid/Food Security Ass.
1097     530                         VI.3. Other Commodity Ass.
1101     600                       VII. Action Relating to Debt
1139     700                             VIII. Humanitarian Aid
1180     720                         VIII.1. Emergency Response
1200     730     VIII.2. Reconstruction Relief & Rehabilitation
1210     740         VIII.3. Disaster Prevention & Preparedness
1219     998                      IX. Unallocated / Unspecified
1263    1000                           Total (V+VI+VII+VIII+IX)

In [9]:
data[data['Sector'] == 'Total (V+VI+VII+VIII+IX)']

,DONOR,Donor,SECTOR,Sector,AIDTYPE,Aid type,AMOUNTTYPE,Amount type,TIME,Year,Value,Flags
1263,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1967,1967,0.52,NaN
1264,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1968,1968,1.54,NaN
1265,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1969,1969,23.43,NaN
1266,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1970,1970,8.86,NaN
1267,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1971,1971,12.79,NaN
1268,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1972,1972,12.96,NaN
1269,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1973,1973,13.82,NaN
1270,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1974,1974,72.93,NaN
1271,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1975,1975,18.70,NaN
1272,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1976,1976,30.04,NaN
1273,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1977,1977,83.33,NaN
1274,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1978,1978,114.55,NaN
1275,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1979,1979,69.71,NaN
1276,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1980,1980,139.99,NaN
1277,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1981,1981,265.18,NaN
1278,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1982,1982,290.51,NaN
1279,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1983,1983,182.76,NaN
1280,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1984,1984,78.61,NaN
1281,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1985,1985,59.65,NaN
1282,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1986,1986,125.96,NaN
1283,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1987,1987,146.75,NaN
1284,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1988,1988,340.84,NaN
1285,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1989,1989,407.56,NaN
1286,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1990,1990,335.82,NaN
1287,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1991,1991,497.11,NaN
1288,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1992,1992,1336.75,NaN
1289,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1993,1993,577.99,NaN
1290,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1994,1994,751.59,NaN
1291,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1995,1995,538.24,NaN
1292,1,Austria,1000,Total (V+VI+VII+VIII+IX),528,Total ODA,A,Current Prices (USD millions),1996,1996,542.52,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
210844,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1985,1985,13602.67,NaN
210845,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1986,1986,12911.87,NaN
210846,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1987,1987,21008.60,NaN
210847,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1988,1988,15237.97,NaN
210848,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1989,1989,16552.78,NaN
210849,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1990,1990,14478.81,NaN
210850,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1991,1991,9817.26,NaN
210851,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1992,1992,16233.46,NaN
210852,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1993,1993,11284.92,NaN
210853,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1994,1994,19604.52,NaN
210854,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1995,1995,17329.42,NaN
210855,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1996,1996,5269.96,NaN
210856,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1997,1997,2544.97,NaN
210857,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1998,1998,2351.26,NaN
210858,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),1999,1999,1966.80,NaN
210859,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2000,2000,1180.38,NaN
210860,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2001,2001,5395.08,NaN
210861,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2002,2002,1415.09,NaN
210862,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2003,2003,3050.12,NaN
210863,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2004,2004,1673.01,NaN
210864,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2005,2005,2053.53,NaN
210865,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2006,2006,1532.38,NaN
210866,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2007,2007,5540.74,NaN
210867,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2008,2008,5026.14,NaN
210868,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2009,2009,3744.95,NaN
210869,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2010,2010,2612.06,NaN
210870,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2011,2011,11575.56,NaN
210871,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2012,2012,6157.07,NaN
210872,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2013,2013,5205.83,NaN
210873,20011,"DAC EU Members, Total",1000,Total (V+VI+VII+VIII+IX),530,Other Official Flows (OOF),D,Constant Prices (2014 USD millions),2014,2014,5376.99,NaN

In [12]:
# country

In [13]:
donor = data[['DONOR', 'Donor']].copy()

In [14]:
donor.columns = ['donor', 'name']

In [15]:
donor = donor.drop_duplicates()

In [17]:
donor.to_csv('../ddf--entities--donor.csv', index=False)

In [18]:
# sector

In [19]:
sector = data[['SECTOR', 'Sector']].drop_duplicates().copy()

In [20]:
sector.columns = ['sector', 'name']

In [22]:
sector.to_csv('../ddf--entities--sector.csv', index=False)

In [23]:
# concepts

In [24]:
cdf = pd.DataFrame([['total_oda', 'Total ODA', 'measure'], 
                    ['year', 'Year', 'time'],
                    ['name', 'Name', 'string'],
                    ['donor', 'Donor', 'entity_domain'],
                    ['sector', 'Sector', 'entity_domain']
                   ], columns=['concept', 'name', 'concept_type'])

In [25]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [26]:
# datapoints

In [27]:
dps = data[['DONOR', 'SECTOR', 'Year', 'Value']].copy()

In [29]:
dps.columns = ['donor', 'sector', 'year', 'total_oda']

In [32]:
dps.dropna().to_csv('../ddf--datapoints--total_oda--by--donor--sector--year.csv', index=False)

In [31]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"donor,sector,year",total_oda,ddf--datapoints--total_oda--by--donor--sector-...
0,donor,name,ddf--entities--donor.csv
0,sector,name,ddf--entities--sector.csv